//--------------------------------------------------------------------
// Modules
module "ecs_fargate" {
  source  = "app.terraform.io/Patrick/ecs-fargate/aws"
  version = "0.4.4"

  alb_ingress_cidrblock = "157.131.174.226/32"
  app_image = "nginxdemos/hello:latest"
  app_port = 8080
  name_prefix = "calpoly"
}

output "ip_address" {
  value = "${module.ecs_fargate.alb_hostname}"
}
